In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, when, isnull, lit, length, explode, count, upper, lower, regexp_replace, regexp_extract
from datapipelines.generate_clientes.commons.constants import *

In [ ]:
spark = SparkSession.builder \
    .appName("Data quality check enderecos_clientes ") \
    .config("spark.sql.parquet.enableVectorizedReader", "true") \
    .config("spark.sql.legacy.parquet.datetimeRebaseModeInRead", "CORRECTED") \
    .getOrCreate()

In [7]:
df_ender_cli = spark.read.parquet("/app/data/processed/enderecos_clientes.parquet")
df_cli = spark.read.parquet("/app/data/processed/clientes.parquet")
df_opt = spark.read.parquet("/app/data/processed/clientes_opt.parquet")

In [10]:
df_cli.join(df_opt, on=CODIGO_CLIENTE, how="left_anti").show()
print("Clientes sem OPT:", df_cli.join(df_opt, on=CODIGO_CLIENTE, how="left_anti").count())

+--------------------+---------------+----+------------+-----+
|      codigo_cliente|data_nascimento|sexo|estado_civil|idade|
+--------------------+---------------+----+------------+-----+
|0000009DB36F622B7639|     2003-11-14|   F|         N/I|   22|
|000000F51C15031D708E|     2008-03-23|   F|         N/I|   17|
|00000F54BE2BBF0E7B13|     1986-02-24|   F|         N/I|   39|
|00003490C16D52FEB4C2|     2004-03-20|   F|         N/I|   21|
|00004A80EE1AE5324A9E|     1946-05-14| N/I|         N/I|   79|
|00004CAACD07633F2C95|     1978-11-26|   F|         N/I|   47|
|0000524920EA26B08218|     1999-09-14| N/I|         N/I|   26|
|0000566AFF0326105805|           NULL| N/I|         N/I| NULL|
|0000637A2669B1148663|     2003-01-24|   F|         N/I|   22|
|000069F01AA0A98858F4|     1943-07-10|   F|         N/I|   82|
|0000854EADF07158D702|     1959-09-05|   F|         N/I|   66|
|00008CC4B7481043B5B9|     1986-01-12|   F|           1|   39|
|0000A382CC46C42CB789|     2003-01-16| N/I|         N/I|   22|
|0000B0191B3CCDB02AAD|     1975-08-11|   M|           2|   50|
|0000C792E8E38C928329|     1997-08-20| N/I|         N/I|   28|
|0000D146017DF43378B0|     2003-03-08|   F|         N/I|   22|
|0000E4633657C8F17B5A|     1986-12-26|   F|           2|   39|
|00010749FCBB69A40D61|     1974-07-27|   F|         N/I|   51|
|00010EEA4D9B4A5B823B|     1957-10-18|   M|           2|   68|
|000114552776E449EB1D|           NULL| N/I|         N/I| NULL|
+--------------------+---------------+----+------------+-----+
only showing top 20 rows

Clientes sem OPT: 23396

In [11]:
df_cli.join(df_ender_cli, on=CODIGO_CLIENTE, how="left_anti").show()
print("Clientes sem ENDEREÇO:", df_cli.join(df_ender_cli, on=CODIGO_CLIENTE, how="left_anti").count())

+--------------------+---------------+----+------------+-----+
|      codigo_cliente|data_nascimento|sexo|estado_civil|idade|
+--------------------+---------------+----+------------+-----+
|00000F54BE2BBF0E7B13|     1986-02-24|   F|         N/I|   39|
|000013E1FB44D9A9E50F|     1984-12-13|   M|         N/I|   41|
|00003490C16D52FEB4C2|     2004-03-20|   F|         N/I|   21|
|000040FC122DB8AEEF51|     1982-04-06|   F|         N/I|   43|
|00004A80EE1AE5324A9E|     1946-05-14| N/I|         N/I|   79|
|00004CAACD07633F2C95|     1978-11-26|   F|         N/I|   47|
|00005651B2086081178C|     1961-06-19|   F|         N/I|   64|
|0000566AFF0326105805|           NULL| N/I|         N/I| NULL|
|0000573B0F66ED64C324|           NULL| N/I|         N/I| NULL|
|0000624AA6B5A0DF8CDB|     1992-09-03|   F|         N/I|   33|
|0000637A2669B1148663|     2003-01-24|   F|         N/I|   22|
|000069F01AA0A98858F4|     1943-07-10|   F|         N/I|   82|
|0000854EADF07158D702|     1959-09-05|   F|         N/I|   66|
|000088AD7F7E97CE0925|     1976-10-12|   F|         N/I|   49|
|000091ED9712200259A9|     1987-02-18|   F|         N/I|   38|
|0000957E5DFEA04C1260|     1982-11-25|   F|         N/I|   43|
|00009842D0593B81100D|     1981-10-16| N/I|         N/I|   44|
|0000C792E8E38C928329|     1997-08-20| N/I|         N/I|   28|
|0000C92C7A4953A4506C|     1969-03-10|   M|         N/I|   56|
|0000D067831C5ACEACDF|           NULL| N/I|         N/I| NULL|
+--------------------+---------------+----+------------+-----+
only showing top 20 rows

Clientes sem ENDEREÇO: 40849

In [13]:
df_full_joined = df_cli \
    .join(df_opt, on=CODIGO_CLIENTE, how="inner") \
    .join(df_ender_cli, on=CODIGO_CLIENTE, how="inner")

df_full_joined.show()
print("Total com correspondência nos 3 datasets:", df_full_joined.count())

+--------------------+---------------+----+------------+-----+--------------+-------------+---------------+--------------+---+-------------+
|      codigo_cliente|data_nascimento|sexo|estado_civil|idade|flag_lgpd_push|flag_lgpd_sms|flag_lgpd_email|flag_lgpd_call| uf|       cidade|
+--------------------+---------------+----+------------+-----+--------------+-------------+---------------+--------------+---+-------------+
|00001522AD94645C7688|     1992-11-10|   F|           2|   33|          true|         true|           true|          true| SC|     SAO JOSE|
|00001522AD94645C7688|     1992-11-10|   F|           2|   33|          true|         true|           true|          true| SC|     SAO JOSE|
|00001522AD94645C7688|     1992-11-10|   F|           2|   33|          true|         true|           true|          true| SC|FLORIANOPOLIS|
|0000161185110EE1BBE5|     1975-12-27|   F|         N/I|   50|         false|         true|          false|         false| SP|    SAO PAULO|
|0000269BBD1888477D56|     1961-10-25|   M|         N/I|   64|         false|        false|          false|         false| PR|    PARANAVAI|
|0000269BBD1888477D56|     1961-10-25|   M|         N/I|   64|         false|        false|          false|         false| PR|    PARANAVAI|
|0000289F7EF0375B679D|     1983-11-05|   F|           1|   42|          true|         true|           true|          true| RS|CAXIAS DO SUL|
|00002A10FB7B5E5CB107|     1991-08-19|   M|         N/I|   34|         false|         true|          false|         false| RS|CAXIAS DO SUL|
|00002F84FF8B063A952C|     1975-06-13|   F|         N/I|   50|         false|        false|          false|         false| SC|    JOINVILLE|
|000033354ABAAD3F2FA8|     1964-01-01|   F|           1|   61|         false|        false|          false|         false| RS| PORTO ALEGRE|
|000033354ABAAD3F2FA8|     1964-01-01|   F|           1|   61|         false|        false|          false|         false| RS| PORTO ALEGRE|
|000042FA835BDA98ACCE|     1965-05-03|   M|           2|   60|         false|        false|          false|         false| RS|  PASSO FUNDO|
|000042FA835BDA98ACCE|     1965-05-03|   M|           2|   60|         false|        false|          false|         false| RS|  PASSO FUNDO|
|000042FA835BDA98ACCE|     1965-05-03|   M|           2|   60|         false|        false|          false|         false| RS|  PASSO FUNDO|
|000042FA835BDA98ACCE|     1965-05-03|   M|           2|   60|         false|        false|          false|         false| RS|  PASSO FUNDO|
|000046B0542EFC2E550A|     1990-06-02|   F|           1|   35|          true|         true|           true|         false| PR| PONTA GROSSA|
|000046B0542EFC2E550A|     1990-06-02|   F|           1|   35|          true|         true|           true|         false| PR|     CURITIBA|
|000046B0542EFC2E550A|     1990-06-02|   F|           1|   35|          true|         true|           true|         false| PR|     CURITIBA|
|000046B0542EFC2E550A|     1990-06-02|   F|           1|   35|          true|         true|           true|         false| PR|       CASTRO|
|00004B9802657262B995|     1996-03-06| N/I|         N/I|   29|         false|         true|           true|         false| SC|    ARARANGUA|
+--------------------+---------------+----+------------+-----+--------------+-------------+---------------+--------------+---+-------------+
only showing top 20 rows

Total com correspondência nos 3 datasets: 146640

In [ ]:
total_clientes = df_cli.select(CODIGO_CLIENTE).distinct().count()
clientes_com_opt = df_opt.select(CODIGO_CLIENTE).distinct().count()
clientes_com_endereco = df_ender_cli.select(CODIGO_CLIENTE).distinct().count()

print(f"Total de clientes             : {total_clientes}")
print(f"Clientes com dados de opt-in  : {clientes_com_opt}")
print(f"Clientes com endereço         : {clientes_com_endereco}")

Total de clientes             : 99970
Clientes com dados de opt-in  : 76623
Clientes com endereço         : 59181