In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, when, isnull, lit, length, explode, count, upper, lower, regexp_replace, regexp_extract

In [2]:
from pyspark.sql import SparkSession
# enableVectorizedReader is set to false to avoid issues with certain Parquet files
spark = SparkSession.builder \
    .appName("Data quality check itens_vendas") \
    .config("spark.sql.parquet.enableVectorizedReader", "false") \
    .config("spark.hadoop.io.nativeio", "false") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/14 14:45:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/04/14 14:45:43 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/04/14 14:45:43 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
df = spark.read.parquet("/app/data/processed/itens_vendas.parquet")

In [4]:
df.printSchema()

root
 |-- codigo_item: long (nullable = true)
 |-- tipo_desconto: string (nullable = true)
 |-- valor_unitario: decimal(38,2) (nullable = true)
 |-- quantidade: decimal(38,4) (nullable = true)

In [5]:
df.show(5)

+-----------+-------------+--------------+----------+
|codigo_item|tipo_desconto|valor_unitario|quantidade|
+-----------+-------------+--------------+----------+
|  433914026|          NAO|         38.49|    1.0000|
|  405284776|          NAO|          8.49|    1.0000|
|  403805896|          NAO|         17.99|    1.0000|
|  502317426|          NAO|          3.10|    1.0000|
|  403469456|          NAO|         17.99|    1.0000|
+-----------+-------------+--------------+----------+
only showing top 5 rows

In [6]:
df.select([
    count(when(isnull(c), c)).alias(c) for c in df.columns
]).show()

+-----------+-------------+--------------+----------+
|codigo_item|tipo_desconto|valor_unitario|quantidade|
+-----------+-------------+--------------+----------+
|          0|            0|             0|         0|
+-----------+-------------+--------------+----------+

In [7]:
#spark.stop()