In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, when, isnull, lit, length, explode, count, upper, lower, regexp_replace, regexp_extract

In [ ]:
from pyspark.sql import SparkSession
# enableVectorizedReader is set to false to avoid issues with certain Parquet files
spark = SparkSession.builder \
    .appName("Data quality check pedidos") \
    .config("spark.sql.parquet.enableVectorizedReader", "false") \
    .config("spark.hadoop.io.nativeio", "false") \
    .getOrCreate()

In [3]:
df = spark.read.parquet("/app/data/raw/pedidos.parquet")

In [4]:
df.printSchema()

root
 |-- n_id_pdd: long (nullable = true)
 |-- d_dt_eft_pdd: date (nullable = true)
 |-- d_dt_entr_pdd: timestamp (nullable = true)
 |-- v_cnl_orig_pdd: string (nullable = true)
 |-- v_uf_entr_pdd: string (nullable = true)
 |-- v_lc_ent_pdd: string (nullable = true)
 |-- n_vlr_tot_pdd: decimal(38,2) (nullable = true)

In [5]:
df.show(5)

+-------------+------------+-------------------+--------------+-------------+------------+-------------+
|     n_id_pdd|d_dt_eft_pdd|      d_dt_entr_pdd|v_cnl_orig_pdd|v_uf_entr_pdd|v_lc_ent_pdd|n_vlr_tot_pdd|
+-------------+------------+-------------------+--------------+-------------+------------+-------------+
|1187021679777|  2023-09-13|2023-09-14 00:49:15|             L|           RS|      VIAMAO|        19.99|
|1187888931657|  2023-09-29|2023-09-30 00:11:38|             L|           RS|PORTO ALEGRE|        36.98|
|1187806295857|  2023-09-28|2023-09-29 00:00:10|             L|           RS|PORTO ALEGRE|        29.56|
|1187490058337|  2023-09-22|2023-09-22 23:59:02|             L|           RS|PORTO ALEGRE|        37.97|
|1186976289657|  2023-09-12|2023-09-13 00:40:09|             L|           RS|PORTO ALEGRE|        39.93|
+-------------+------------+-------------------+--------------+-------------+------------+-------------+
only showing top 5 rows

In [6]:
df.select([
    count(when(isnull(c), c)).alias(c) for c in df.columns
]).show()

+--------+------------+-------------+--------------+-------------+------------+-------------+
|n_id_pdd|d_dt_eft_pdd|d_dt_entr_pdd|v_cnl_orig_pdd|v_uf_entr_pdd|v_lc_ent_pdd|n_vlr_tot_pdd|
+--------+------------+-------------+--------------+-------------+------------+-------------+
|      61|        8139|         8139|             0|            0|           0|            0|
+--------+------------+-------------+--------------+-------------+------------+-------------+

In [7]:
spark.stop()